
img {
    max-width: 20%;
    border: solid 2px orange;
    margin-left: 40%;
}
.avistamiento{
    margin: 5px;
    padding:5px;
    text-align: center;
}

.condicion0 {
    color:red;
}
.condicion1 {
    color: green;
}
