<div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>

<div class="mitad result">
  
  <h3>Listado de aves</h3>
  <span><button type="button" class="btn btn-primary">
      <a routerLink="/menuprincipal" routerLinkActive="active">Volver</a>
    </button></span>
    <div *ngFor="let resp of resultado">
        <p></p>
          <div class="avistamiento"> 
           <h5>Referencia: {{ resp.id }} {{ resp.bird_name }}</h5>
         </div>
         <div> Avistamientos: {{resp.bird_sightings}}</div>
         <div class="condicion0" *ngIf="resp.mine === 0">No visto</div>
          <div class="condicion1" *ngIf="resp.mine === 1">Visto</div>

          <img src="{{resp.bird_image}}">
      
     
      

      <p><button type="button" class="btn btn-primary">
        <a [routerLink]="['/detalleave',resp.id]">Ir a detalle de pájaro  
      </a></button></p>
        <hr>
    </div>
</div>
<button type="button" class="btn btn-primary">
    <a routerLink="/añadirave" routerLinkActive="active">Añadir ave</a>
  </button>



