<div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>

<div class="container">
<div class="btn-group-lg text-center">
  <ul>
    <li><button type="button" class="btn btn-primary">
      <a routerLink="/listadoaves" routerLinkActive="active">Listado aves</a>
    </button></li>
    <li><button type="button" class="btn btn-primary">
      <a routerLink="/añadirave" routerLinkActive="active">Añadir ave</a>
    </button></li>
    <li><button type="button" class="btn btn-primary">
      <a routerLink="/" routerLinkActive="active">Info</a>
    </button></li>
    <li><button type="button" class="btn btn-primary">  
          <a href="#" (click)="logout()">Desconectar</a>
        </button></li>
      </ul>
  </div>
</div>