
<div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>

<div class="mitad">
    <div class="peticiones">
        <h2>Añadir ave</h2>
        <form (ngSubmit)="onSubmit(1);" #aveb="ngForm">
           <p> <input type="text" placeholder="Nombre de ave" 
            #birdname name="bird_name" [(ngModel)]="ContactModel.bird_name" required/>
            <input size="50" type="text" placeholder="Descripción del ave" 
            #birddescription name="bird_description"
             [(ngModel)]="ContactModel.bird_description" required/></p>
             <label>Visto:
                    <input type="checkbox" ng-model="aveb.mine">
                  </label><br/>
                  <label>No visto:
                    <input type="checkbox" ng-model="aveb.mine"
                           ng-true-value="1" ng-false-value="0">
                   </label> 
           <p> <button class="btn btn-primary" 
            [disabled]="!aveb.form.valid">Enviar ave
        </button><button type="button" class="btn btn-primary">
                <a routerLink="/menuprincipal" routerLinkActive="active">Volver</a>
              </button></p>
        </form>

    </div>