<!--The content below is only a placeholder and can be replaced.-->

    <div class="container">

    <h1 class="text-center">
    {{title}}
    </h1>
    <div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>
        <router-outlet>
        </router-outlet> 
    </div>
  