<div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>

<p>
  //Bienvenido a la App. Para ingresar introduce tu nombre (Javier/ Daniel) y primer apellido (De los Santos/ De Fuenmayor). 
</p>

    <form  (ngSubmit)="login(loginForm)" #loginForm="ngForm">
      <p><input matInput placeholder="Introducir nombre" [(ngModel)]="loginForm.id" name="id">
      <input matInput placeholder="Introducir apellido" [(ngModel)]="loginForm.password" name="password"></p>
        <p><button class="btn btn-primary" type="submit">Login</button></p>
    </form>  
    
