/* You can add global styles to this file, and also import other style files */
agm-map {
    height: 180px;
    width: 90%;
    margin-left: 15%;
  }
body {
    background-image: linear-gradient(to left, #33E9FF 0%, #007DA7 100%);
  }
button {
    background-image:linear-gradient(to left, #FFAD33 0%, #FFC933 100%);
    }
a {
      color: white;
  }