<div class="loading" *ngIf="loading"><img src="../../assets/loading.gif"></div>


<div id="volver"><button type="button" class="btn btn-primary">
    <a routerLink="/listadoaves" routerLinkActive="active">Volver</a>
  </button></div>

<div *ngFor="let ave of resultado">
<img src="{{ave.bird_image}}">
<p>Identidad: {{ave.id}} Nombre: {{ave.bird_name}}</p>
<p>{{ave.bird_description}}</p>
<p>Avistamientos: {{ave.bird_sightings}}</p>
<h4>Detalle de los avistamientos: </h4>
<ul *ngFor="let data of ave.sightings_list">
  <li>Identidad: {{data.id}}</li>
  <li>Identidad de ave: {{data.idAve}}</li>
  <li>Lugar: {{data.place}}</li>
  <li>{{data.long}}</li>
  <li>{{data.lat}}</li>
 </ul>
 <hr>
</div>
<div>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker
    [latitude]="lat" 
    [longitude]="lng"></agm-marker>
  </agm-map>
</div>


